.review-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

#review-text {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

#review-rating {
    width: 100px;
    margin-bottom: 10px;
}

#review-list {
    margin-bottom: 20px; /* Adicionado margem inferior para separar os botões das abas */
}

.review {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.review p {
    margin: 0;
}

.review span {
    font-weight: bold;
}

.stars {
    color: gold;
}

#review-tabs button {
    margin-right: 5px;
}
/* Adicionei estilo para as estrelas */
.star {
    font-size: 24px;
    cursor: pointer;
    color: grey;
}

.star:hover,
.star.active, 
.star.activeClick{
    color: gold;
}

